@use "sass:string" as string;

// Value assignment to variables

$brand-name-type-color: #19a054;
$site-header-bg-color: #D35648;
$site-footer-bg-color: #010101;
$site-footer-heading-color: #f4f5f6;
$site-footer-para-color: #848586;
$nav-links-font-color: #f4f5f6;
$promo-space-type-color: #f4f5f6;
$search-area-bg-image: url('../../images/locations/Rwanda-Volcanoes-kwitizina.jpg');
$search-form-bg-color: #fff8;
$search-btn-bg-color: #D35648;
$user-guide-bg-color: #f4f5f6;
$safety-info-bg-color: #E17E64;
$testimonies-bg-color: #98A4A5;
$platforms-bg-color: #519BD7;
$bottom-band-bg-color: #171717;
$section-heading-type-color: #848586;
$article-para-type-color: #343536;


// appliction of values

@mixin text-color($bg, $parent: "p") {
    @if $bg == $site-header-bg-color {
        color: #f4f5f6;
    }
    @else if $bg == $site-footer-bg-color {
        color: #f4f5f6;
    }
    @else if $bg == $search-form-bg-color {
            color: #010101;
    }
    @else if $bg == $search-area-bg-image {
        color: #f4f5f6;
    }
    @else if $bg == $search-btn-bg-color {
        color:  #f4f5f6;
    }
    @else {
        color: #0000;
    }
}

%header-bg-color { 
    background-color: $site-header-bg-color;
}

%home-link-color{
    color: $brand-name-type-color;
}

%top-links-color {
    @include text-color($site-header-bg-color, &);
}    

%search-color {
    background-image: $search-area-bg-image;
    background-position: center;
    background-size: cover;
    @include text-color($search-area-bg-image, );
}

%search-form-color {
    background-color: $search-form-bg-color;
    @include text-color($search-form-bg-color, );
}

%search-button-color {
    background-color: $search-btn-bg-color;
    @include text-color($search-btn-bg-color, );
}

%user-guide-h2-color {
    color: #D35648;
}

%user-guide-h3-color {
    color: #010101;
}

%user-guide-span-color {
    color: #010101;
}

%user-guide-p-color {
    color: #444;
}

%safety-info {
    background-color: $safety-info-bg-color;
}

%testimonies {
    background-color: $testimonies-bg-color;
}

%platforms {
    background-color: $platforms-bg-color;
}

%promo-space-type-color {
    color: $promo-space-type-color;
}

%site-footer-bg-color {
    background-color: $site-footer-bg-color;
}


%site-footer-heading-color {
    color: $site-footer-heading-color;
}

%site-footer-para-color{
    color: $site-footer-para-color;
}

%bottom-band-bg-color {
    background-color: $bottom-band-bg-color;
}

%section-heading-type-color{
    color: $section-heading-type-color
}

%article-para-type-color {
    color: $article-para-type-color;
}
