/* In this partial, Elements and containers are
appropriately sized and positioned to create the 
the layout of the web pages*/

.site-header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;

    h1 {
        margin-bottom: 1rem;
    }

    .top-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
    }
}

.header-logo {
    width: 3rem;
    height: 3rem;
    object-fit: fill;
    vertical-align: middle;
}

.home-link {
    white-space: nowrap;
}

.top-link-text {
    display: none;
}

@media screen and (min-width:768px){
    .site-header {
        flex-flow: row nowrap;
        h1 {
            margin-bottom: 0;
        }
    }
}

.search {
    padding: 1rem;
}

.search-container {
    margin: 10rem auto;

    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }
}

.search-form {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;

    label {
        margin-bottom: .5em;
    }

    input {
        @extend label;
        padding: .5em;
    }

    button {
        padding: .5em;
    }
}

.user-guide {
    padding: 3rem 1rem;

    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }

    article {
        padding: 2rem;
        text-align: center;

        span {
            display: block;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }
}

.safety-info, .testimonies, .platforms {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 1rem;
    }

    h2 {
        margin-bottom: 1rem;
        font-weight: bold;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.site-footer {
    padding-top: 2rem;
}

.footer-logo {
    margin: 1rem auto;
    width: 5rem;
    height: 5rem;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    img {
        width: inherit;
        height: inherit;
    }
}

.footer-nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .links-left {
        padding: 1rem;
        text-align: center;
        line-height: 1.4rem;
    }
    .links-right{
        display: none;
        @extend .links-left
    }

    .footer-nav-link {
        margin: 0 .5rem;
    }
}

.subscribe-contact-about {
    display: flex;
    flex-flow: column nowrap;
}

.subscribe, .contact, .about {
    padding: 1rem;
    text-align: center;
    h3 {
        margin-bottom: 1rem;
    }
    button {
        margin-left: -5px;
    }
}

.bottom-band {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;

    .social-channels {
        margin-bottom: 1rem;
    }

    .social-link {
        margin: 0 .3rem;
    }

    .legal-info {
        font-size: .875rem;
        text-align: center;
    }
}

.result-filter {
    margin: 2rem auto;
    padding: 2rem;
    h2 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.filter-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    fieldset {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        margin-bottom: .5rem;
        input, select {
            width: 100%;
            padding: .5rem;
        }
        label {
            line-height: 1.4rem;
        }
    }
    button {
        width: 100%;
        padding: .5rem;
        margin-bottom: .5rem;
    }
}

.search-result {
    padding: 1rem;
    h2 {
        margin-bottom: 2rem;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.result-card {
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    .result-img-link{
        display: block;
        width: 100%;
        margin-bottom: 1rem;;
    }
    img {
        width: inherit;
    }
    h3, p{
        margin-bottom: 1rem;
    }
}

.dest-detail {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem auto;
    
}

.article-content {
    padding: 1rem;
    h2{
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    p {
        line-height: 1.4rem;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.suggestions {
    padding: 1rem;
    h3 {
        margin-bottom: 1rem;
    }

}

.suggestions-item {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    img{
        width: 8rem;
        height: 5rem;
        object-fit: cover;
    }
    h4 {
        padding: 1rem;
    }
    
}