/* In this partial, Elements and containers are
appropriately sized and positioned to create the 
the layout of the web pages*/

.site-header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
    h1 {
        margin-bottom: 1rem;
    }
    .top-nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
    }
}

.header-logo {
    width: 3rem;
    height: 3rem;
    object-fit: fill;
    vertical-align: middle;
}

.top-link-text {
    display: none;
}

.search {
    padding: 1rem;
}

.search-container {
    margin: 10rem auto;
    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }
}

.search-form {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    label {
        margin-bottom: .5em;
    }
    input {
        @extend label;
        padding: .5em;
    }
    button {
        padding: .5em;
    }
}

.user-guide {
    padding: 3rem 1rem;
    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }
    article {
        padding: 2rem;
        text-align: center;
        span {
            display: block;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }
}