// variable assignment 

$brand-name-size: 2rem;
$brand-name-type-family: 'Lobster', cursive;
$menu-links-size: 1rem;
$menu-links-type-family: 'Noto Sans', sans-serif;
$menu-links-type-face: bold;

// application of values

.site-header {
    h1{
        font-size: $brand-name-size;
        font-family: $brand-name-type-family;
    }

    .top-links, .top-more-links {
        font-size: $menu-links-size;
        font-family: $menu-links-type-family;
        font-weight: $menu-links-type-face;
    }
}
